/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/08/2018, 17:13:19
    Author     : Tiffy
*/#fondoMap{
    -fx-background-image: url("/Recursos/fondo.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 600 550;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
